# phpstorm project files
.idea

# netbeans project files
nbproject

# NGinx logs
/web/nginx/alpha/log
/web/nginx/web/log

# MariaDB logs
/web/mysql/logs/db-master/mysql
/web/mysql/logs/db-slave/mysql# phpstorm project files
.idea


# CODE
# shop
/web/code/myshop/*

# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode
